/* code your banner design here */
.banner {
background-image: url(http://unsplash.it/1000/600);
background-size: cover;
width: 100%;
color: white;
z-index: 0;
padding: 200px;
position : relative;
}

.banner-filter {
background-image: linear-gradient(#c8bfcc);
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 1;
}

.bg-grey {


}
