<body>

  <div class="welcome text-center padded">
    <h1>Middleman is Watching</h1>
    <p class="doc">
      <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
    </p><!-- .doc -->
  </div><!-- .welcome -->

    <!-- Banner -->
  <div class="banner text-center">
     <div class="banner-filter"></div>
        <div class="banner-content">
          <h1>WELCOME NUBIES</h1>
            <p>JOIN US IN OUR JOURNEY</p>
            <!-- <a class="btn btn-primary btn-lg href='contact'">JOIN HIM (at your own risk)</a> -->
            <%= link_to "Awesome trip", "contact.html", class: "btn-primary btn-lg"%>
        </div>
  </div>
</body>
